
/* Searcher */

#searcher {
	display: flex;
	flex-direction: column;
	/* Structure */
	border: 2px solid var(--peach);
	margin: 3rem auto;
	padding: 1.25rem;
	width: 40%;
	/* Visual */
    background-color: var(--blackberry);
}

#searcher > div {
	display: grid;
	align-items: center;
    grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
    /* Structure */
	gap: 1.5rem;
	padding: 3rem;
}

#filter-label, #filter-input {
    display: none;
}

/* ANOTATION TABLE */

#anotation-results {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, max-content);
    /* Structure */
    border: 2px solid var(--peach);
    margin: 1rem auto;
    width: fit-content;
    /* Visual */

}

#anotation-results > * {
    border: 1px solid var(--peach);
    font-size: 125%;
    padding: 0.75rem 1.5rem;
}
